<!DOCTYPE html>

<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/NCCC.css') }}">
	<title> New Celestial Church Of Christ </title>
	<meta charset="utf-8">
</head>

<body>
	<div>
		<div id="container">
		
		<header>
            <a href="index.html">
                <img 
                src="{{ url_for('static', filename='images/new.jpg') }}" alt="Church Logo" />
            </a>
			<p> New Celestial Church Of Christ </p>
		</header>
		
		</div>
		
		<nav>
			<ul>
				<li><a href="{{ url_for('about_us') }}"> About US</a></li>
				<li><a href="{{ url_for('events') }}"> Event </a></li>
				<li><a href="{{ url_for('contact_us') }}"> Contact US </a></li>
				<li><a href="{{ url_for('prayer_request') }}"> Prayer Request </a></li>
			</ul>
		</nav>
		
		<main>
			<div class="video">
				<video autoplay controls width="300" height="150">
					<source src = "{{ url_for('static', filename='video.mp4') }}" type = "video/mp4">
					<source src = "video.ogg" type = "video/ogg">
					<source src = "video.webm" type = "video/webm">
					<p> Your browser does not . </p>
				</video>
			</div>
			
			<aside>
				<p> Why is a WINDSHIELD so LARGE & the REAR VIEW MIRROR so small? <br>
					BECAUSE our PAST is NOT as IMPORTANT as OUR FUTURE. So, LOOK AHEAD and MOVE ON.
				</p>
			</aside>
			
			<p>
				Are you new to Houston? and looking for a church with spiritual root to call a home. 
				Or you are Houstonian looking for new church and new family to call home, come on down to New Celestial Church Of Christ. 
				We are small church, family is as important to us as holy spirit, come and enjoy the cool and warm welcoming feelings our 
				church provide and see why our church is one of a kind in Houston.
			</P>
			
			<p>
				Jesus is calling you, oh sinner come. 
				Your load is heavy and killing you, oh sinner come. 
				Jesus will lift off the load from your head, oh sinner come. 
				Jesus will not let you be disappointed, oh sinner come . 
				Jesus will pray for you, oh sinner come.
				Today is the day you should give your life to him, oh sinner come.
				
			</p>
		</main>
		
		<footer>
			<p>&copy; Copyright © Celestial Church of Christ 1997 - 2023. All Rights Reserved.</p>
			<p><a href="mailto:newcelestialparish@gmail.com"> newcelestialparish@gmail.com </a></p>
		</footer>
		
	</div>
</body>
</html>